:root{
    --color-primario: #651A1A;
    --color-secundario: #8B8484;
    --color-terciario: #3B3535;
    --color-cuarto: #4D2F2F;
    --color-quinto: #573232;
    --color-sexto: rgba(255, 255, 255, 0.562);
}