<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parte_2</title>
    <link rel="stylesheet" href="../css/carrito.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="div1">
      <h1 class="div1_h1">CampusShop</h1>
      <br>
    <button id="toggleMenu">Menu</button>
    </div>
    <div class="div2">
      <nav id="menu">
        <ul class="div2_ul">
          <li class="div2_ul_li">
            <a href="../index.html"><i class="bx bx-menu-alt-left" style="color: var(--color-primario);"></i></a>
            <p class="div2_ul_li_p">Todos los productos</p>
          </li>
          <li class="div2_ul_li">
            <a href="../views/abrigos.html"><i class="bx bx-chevrons-left" style="color: var(--color-primario);"></i></a>
            <p class="div2_ul_li_p">Abrigos</p>
          </li>
          <li class="div2_ul_li">
            <a href="../views/camisetas.html"><i class="bx bx-chevrons-left" style="color: var(--color-primario);"></i></a>
            <p class="div2_ul_li_p">Camisetas</p>
          </li>
          <li class="div2_ul_li">
            <a href="../views/pantalones.html"><i class="bx bx-chevrons-left" style="color: var(--color-primario);"></i></a>
            <p class="div2_ul_li_p">Pantalones</p>
          </li>
        </ul>
      </nav>
    </div>
    <div class="div3">
      <div class="div3_1">
        <a href="../views/carrito.html"
          ><i class="bx bxs-cart" style="color: var(--color-primario)"></i
        ></a>
        <p class="div3_p">Carritos</p>
        <div class="div3_1_3">5</div>
      </div>
    </div>
    <div class="div4">
      <p class="div4_p">© 2023 Camper</p>
    </div>
    <div class="div5">
      <p class="div5_p">Carrito</p>
      <div class="div5_contenedor">
        <div class="div5_1">
          <div class="contenedor_imagen">
            <img src="../store/img/p5.png" />
          </div>
          <div class="div5_1_1">
            Nombre <br />
            Pantalones 01
          </div>
          <div class="div5_1_diferente">
            <div class="div5_1_1_cantidad">Cantidad</div>
            <div class="cantidad_2">2</div>
          </div>
          <div class="div5_1_1">
            Precio<br />
            $ 1.000
          </div>
          <div class="div5_1_1">
            Subtotal <br />
            $ 2.000
          </div>
          <a href="eliminar.html" class="div5_referencia"
            ><i class="bx bx-trash"></i
          ></a>
        </div>
        <div class="div5_1">
          <div class="contenedor_imagen">
            <img src="../store/img/a2.png" />
          </div>
          <div class="div5_1_1">
            Nombre <br />
            Abrigo 02
          </div>
          <div class="div5_1_diferente">
            <div class="div5_1_1_cantidad">Cantidad</div>
            <div class="cantidad_2">2</div>
          </div>
          <div class="div5_1_1">
            Precio<br />
            $ 2.000
          </div>
          <div class="div5_1_1">
            Subtotal <br />
            $ 4.000
          </div>
          <a href="eliminar.html" class="div5_referencia"
            ><i class="bx bx-trash"></i
          ></a>
        </div>
        <div class="div5_1">
          <div class="contenedor_imagen">
            <img src="../store/img/c3.png" />
          </div>
          <div class="div5_1_1">
            Nombre <br />
            Camisetas 03
          </div>
          <div class="div5_1_diferente">
            <div class="div5_1_1_cantidad">Cantidad</div>
            <div class="cantidad_2">1</div>
          </div>
          <div class="div5_1_1">
            Precio<br />
            $ 2.500
          </div>
          <div class="div5_1_1">
            Subtotal <br />
            $ 2.500
          </div>
          <a href="eliminar.html" class="div5_referencia"
            ><i class="bx bx-trash"></i
          ></a>
        </div>
        <div class="div5_1">
          <div class="contenedor_imagen">
            <img src="../store/img/p2.png" />
          </div>
          <div class="div5_1_1">
            Nombre <br />
            Pantalones 02
          </div>
          <div class="div5_1_diferente">
            <div class="div5_1_1_cantidad">Cantidad</div>
            <div class="cantidad_2">2</div>
          </div>
          <div class="div5_1_1">
            Precio<br />
            $ 1.000
          </div>
          <div class="div5_1_1">
            Subtotal <br />
            $ 2.000
          </div>
          <a href="eliminar.html" class="div5_referencia"
            ><i class="bx bx-trash"></i
          ></a>
        </div>
        <div class="div5_1">
          <div class="contenedor_imagen">
            <img src="../store/img/p3.png" />
          </div>
          <div class="div5_1_1">
            Nombre <br />
            Pantalones 03
          </div>
          <div class="div5_1_diferente">
            <div class="div5_1_1_cantidad">Cantidad</div>
            <div class="cantidad_2">2</div>
          </div>
          <div class="div5_1_1">
            Precio<br />
            $ 1.000
          </div>
          <div class="div5_1_1">
            Subtotal <br />
            $ 2.000
          </div>
          <a href="eliminar.html" class="div5_referencia"
            ><i class="bx bx-trash"></i
          ></a>
        </div>
      </div>
      <div class="div5_footer">
        <button class="div5_footer_button1">
          <a href="vacias.html">Vaciar Carrito</a>
        </button>
        <div class="div5_footer_1">
          <p class="div5_footer_p">
            Total <br />
            $ 12.500
          </p>
          <button class="div5_footer_button2">
            <a href="">Comprar Ahora</a>
          </button>
        </div>
      </div>
    </div>
    <script>
      const toggleMenuButton = document.getElementById("toggleMenu");
      const menuDiv2 = document.querySelector(".div2 nav");

      toggleMenuButton.addEventListener("click", function () {
        if (menuDiv2.style.display === "none") {
          menuDiv2.style.display = "block";
        } else {
          menuDiv2.style.display = "none";
        }
      });
    </script>
  </body>
</html>
