<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Parte_2</title>
  <link rel="stylesheet" href="../css/carrito.css" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <div class="div1">
    <h1 class="div1_h1">CampusShop</h1>
  </div>
  <div class="div2">
    <ul class="div2_ul">
      <li class="div2_ul_li">
        <a href="../index.html"><i class="bx bx-menu-alt-left" style="color: var(--color-primario);"></i></a>
        <p class="div2_ul_li_p">Todos los productos</p>
      </li>
      <li class="div2_ul_li">
        <a href="../views/abrigos.html"><i class="bx bx-chevrons-left" style="color: var(--color-primario);"></i></a>
        <p class="div2_ul_li_p">Abrigos</p>
      </li>
      <li class="div2_ul_li">
        <a href="../views/camisetas.html"><i class="bx bx-chevrons-left" style="color: var(--color-primario);"></i></a>
        <p class="div2_ul_li_p">Camisetas</p>
      </li>
      <li class="div2_ul_li">
        <a href="../views/pantalones.html"><i class="bx bx-chevrons-left" style="color: var(--color-primario);"></i></a>
        <p class="div2_ul_li_p">Pantalones</p>
      </li>
    </ul>
  </div>
  <div class="div3">
    <div class="div3_1">
      <a href="../views/carrito.html"><i class="bx bxs-cart" style="color: var(--color-primario);"></i></a>
      <p class="div3_p">Carritos</p>
      <div class="div3_1_3">3</div>
    </div>
  </div>
  <div class="div4">
    <p class="div4_p">© 2023 Camper</p>
  </div>
  <div class="div5">
    <p class="div5_p">Carrito</p>
    <div class="div5_contenedor">
      <div class="div5_1">
        <img src="../store/img/p1.png" />
        <div class="div5_1_1">
            Nombre <br />
            Pantalones 01
        </div>
        <div class="div5_1_diferente">
            <div class="div5_1_1_cantidad">Cantidad</div>
            <div class="cantidad_2">2</div>
        </div>
        <div class="div5_1_1">
            Precio<br />
            $ 1.000
        </div>
        <div class="div5_1_1">
            Subtotal <br />
            $ 2.000
        </div>
        <i class='bx bx-trash'></i>
      </div>
    </div>
  </div>
</body>

</html>