<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Parte_2</title>
  <link rel="stylesheet" href="../css/productos.css" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <div class="div1">
    <h1 class="div1_h1">CampusShop</h1>
  </div>
  <div class="div2">
    <ul class="div2_ul">
      <li class="div2_ul_li">
        <a href="../index.html"><i class="bx bx-menu-alt-left" style="color: var(--color-primario);"></i></a>
        <p class="div2_ul_li_p">Todos los productos</p>
      </li>
      <li class="div2_ul_li">
        <a href="../views/abrigos.html"><i class="bx bx-chevrons-left" style="color: var(--color-primario);"></i></a>
        <p class="div2_ul_li_p">Abrigos</p>
      </li>
      <li class="div2_ul_li">
        <a href="../views/camisetas.html"><i class="bx bx-chevrons-left" style="color: var(--color-primario);"></i></a>
        <p class="div2_ul_li_p">Camisetas</p>
      </li>
      <li class="div2_ul_li_eleccion">
        <a href="../views/pantalones.html"><i class="bx bx-chevrons-left" style="color: var(--color-primario);"></i></a>
        <p class="div2_ul_li_p">Pantalones</p>
      </li>
    </ul>
  </div>
  <div class="div3">
    <div class="div3_1">
      <a href="../views/carrito.html"><i class="bx bxs-cart" style="color: var(--color-primario);"></i></a>
      <p class="div3_p">Carritos</p>
      <div class="div3_1_3">2</div>
    </div>
  </div>
  <div class="div4">
    <p class="div4_p">© 2023 Camper</p>
  </div>
  <div class="div5">
    <p class="div5_p">Pantalones</p>
    <div class="div5_contenedor">
      <div class="div5_1">
        <img src="../store/img/p1.png" />
        <div class="div5_1_1">
          <p class="div5_1_1_p">
            Pantalones 01 <br />
            $ 1.000
          </p>
          <div class="button">
            <div class="button-wrapper">
              <div class="text">Agregar</div>
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2"
                  viewBox="0 0 16 16">
                  <path
                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                  </path>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="div5_1">
        <img src="../store/img/p2.png" />
        <div class="div5_1_1">
          <p class="div5_1_1_p">
            Pantalones 02 <br />
            $ 2.000
          </p>
          <div class="button">
            <div class="button-wrapper">
              <div class="text">Agregar</div>
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2"
                  viewBox="0 0 16 16">
                  <path
                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                  </path>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="div5_1">
        <img src="../store/img/p3.png" />
        <div class="div5_1_1">
          <p class="div5_1_1_p">
            Pantalones 03 <br />
            $ 2.500
          </p>
          <div class="button">
            <div class="button-wrapper">
              <div class="text">Agregar</div>
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2"
                  viewBox="0 0 16 16">
                  <path
                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                  </path>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="div5_1">
        <img src="../store/img/p4.png" />
        <div class="div5_1_1">
          <p class="div5_1_1_p">
            Pantalones 04 <br />
            $ 2.000
          </p>
          <div class="button">
            <div class="button-wrapper">
              <div class="text">Agregar</div>
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2"
                  viewBox="0 0 16 16">
                  <path
                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                  </path>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="div5_1">
        <img src="../store/img/p5.png" />
        <div class="div5_1_1">
          <p class="div5_1_1_p">
            Pantalones 05 <br />
            $ 2.000
          </p>
          <div class="button">
            <div class="button-wrapper">
              <div class="text">Agregar</div>
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2"
                  viewBox="0 0 16 16">
                  <path
                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                  </path>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>