<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parte_2</title>
    <link rel="stylesheet" href="../css/carrito.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="div1">
      <h1 class="div1_h1">CampusShop</h1>
      <br>
    <button id="toggleMenu">Menu</button>
    </div>
    <div class="div2">
      <nav id="menu">
        <ul class="div2_ul">
          <li class="div2_ul_li">
            <a href="../index.html"><i class="bx bx-menu-alt-left" style="color: var(--color-primario);"></i></a>
            <p class="div2_ul_li_p">Todos los productos</p>
          </li>
          <li class="div2_ul_li">
            <a href="abrigos.html"><i class="bx bx-chevrons-left" style="color: var(--color-primario);"></i></a>
            <p class="div2_ul_li_p">Abrigos</p>
          </li>
          <li class="div2_ul_li">
            <a href="camisetas.html"><i class="bx bx-chevrons-left" style="color: var(--color-primario);"></i></a>
            <p class="div2_ul_li_p">Camisetas</p>
          </li>
          <li class="div2_ul_li">
            <a href="pantalones.html"><i class="bx bx-chevrons-left" style="color: var(--color-primario);"></i></a>
            <p class="div2_ul_li_p">Pantalones</p>
          </li>
        </ul>
      </nav>
    </div>
    <div class="div3">
      <div class="div3_1">
        <a href="../views/carrito.html"
          ><i class="bx bxs-cart" style="color: var(--color-primario)"></i
        ></a>
        <p class="div3_p">Carritos</p>
        <div class="div3_1_3">0</div>
      </div>
    </div>
    <div class="div4">
      <p class="div4_p">© 2023 Camper</p>
    </div>
    <div class="div5">
      <p class="div5_p">Carrito </p>
      <br>
      <p class="div5_p" style="font-size: 20px; margin-left: 15px; ">Tu carrito esta vacio :(</p>
    </div>
    <script>
      const toggleMenuButton = document.getElementById('toggleMenu');
      const menuDiv2 = document.querySelector('.div2 nav');
    
      toggleMenuButton.addEventListener('click', function() {
        if (menuDiv2.style.display === 'none') {
          menuDiv2.style.display = 'block';
        } else {
          menuDiv2.style.display = 'none';
        }
      });
    </script>
  </body>
</html>
